{% load static %}

<form action ="" method="post">
    {% csrf_token %}  
  <h4>Registro Vehiculo</h4>
 
  <h4>Datos del vehiculo a consignar</h4>


  <h4>Usuario</h4>
  <input class="controls" type="text" name="username" id="username" placeholder="Ingrese la matricula del vehiculo">
  <h4>Contrasena</h4>
  <input class="controls" type="password" name="password" id="password" placeholder="Ingrese la marca del vehiculo" required="">
  


  
  <input type="submit" class="botons" value="Login"/>
 
  </form>    