
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css2/style.css'%}">
  <title>Formulario Registro</title>
</head>
<body>
  <section class="form-register">
    <form action ="" method="post">
      {% csrf_token %}  
    <h4>Registro Vida</h4>
   
    <h4>Datos de la vida a registrar</h4>


    <h4>Cobertura</h4>
    <input class="controls" type="number" name="cobertura" id="cobertura" placeholder="Cobertura a la vida consignada" required="">
    <h4>Prima </h4>
    <input class="controls" type="number" name="prima" id="prima" placeholder="Prima de la poliza" required="">
    
    
    <input type="submit" class="botons" value="Registrar"/>
    

    </form>  
    
    <a class="botons" href="/../" type="submit" role="button" >Volver </a>

  </section>

</body>
</html>