{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css2/style.css'%}">
  <title>Formulario Registro</title>
</head>
<body>
  <section class="form-register">
    <form action ="" method="post">
      {% csrf_token %}  
    <h4>Registro Inmueble</h4>
   
    <h4>Datos del inmueble a consignar</h4>

    <h4>Direccion del inmueble</h4>
    <input class="controls" type="text" name="direc_inmueble" id="direc_inmueble" placeholder="Ingrese la direccion del inmueble" required="">
    <h4>Contenido del inmueble</h4>
    <textarea class="controls" name="contenido" id="contenido" cols="30" rows="10" placeholder="Contenido del inmueble consignado" required=""></textarea>
    <h4>Riesgos del inmueble</h4>
    <textarea class="controls" name="riesgos_auxiliares" id="riesgos_auxiliares" cols="15" rows="10" placeholder="Riesgos del inmueble consignado" required=""></textarea>
    <h4>Valor del inmueble</h4>
    <input class="controls" type="number" name="valor" id="valor" placeholder="Valor aproximado del inmueble a consignar" required="">
    
    <input type="submit" class="botons" value="Registrar"/>

   
  </form>  
  <a class="botons" href="/../" type="submit" role="button" >Volver </a>  

  </section>

</body>
</html>
